<nav cla="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        Por capital

      </a>
    </li>
    <li>
      <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 301 201">
          <g fill="none">
            <path fill="#009543" d="M.5.5h300v200H.5z" />
            <path fill="#fbde4a" d="m.5 200.5l200-200h100v200z" />
            <path fill="#dc241f" d="M300.5.5v200h-200z" />
          </g>
        </svg>
        Por Pais
      </a>
    </li>
    <li>
     <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 301 201">
          <g fill="none">
            <path fill="#009543" d="M.5.5h300v200H.5z" />
            <path fill="#fbde4a" d="m.5 200.5l200-200h100v200z" />
            <path fill="#dc241f" d="M300.5.5v200h-200z" />
          </g>
        </svg>
        Por Region
      </a>
    </li>
  </ul>
</nav>